@media screen and (max-width: 800px){
    .a{
        height: 19%;
    }
    .wrap{
        height: 79%;
        flex-direction: column;
    }
    .wrapBCDEFG{
        width: 100%;
        height: 50%;
    }
    .wrapBox{
        width: 100%;
        height: 50%;
        justify-content: space-around;
        align-items: center;
    }
    .h{
        width: 100%;
        height: 50%;
    }
    .box{
        width: 25%;
        height: 70%;
    }

}