body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 4px 0;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0 32px;
    margin: 0;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    position: relative;
    width: 320px;
    height: 490px;
    background: rgba(217, 217, 217, 0.3);
    border: 4px solid #554C4C;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border: 4px solid #554C4C;
    border-radius: 50%;
    margin: -54px 0 0 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
